body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 0px;
}

.jumbotron {
    background-color: #3A4F7A;
}

.heading {
    color: white;
    font-weight: bold;
    text-align: center;
}

.subheading {
    font-weight: bold;
}

.search-container {
    padding-bottom: 20px;
}

.sub-container {
    padding: 10px;
    background-color: rgb(237, 234, 234);
}

form {
    border: 1px solid lightgrey;
    padding: 15px;
}

.article-container {
    padding-bottom: 15px;
    margin-top: 10px;
    border: 1px solid lightgrey;
    padding: 15px;
}

.articleDiv {
    padding: 10px;
    border-top: 1px solid lightgrey;
}

.article-number {
    font-size: 12px;
}

.url {
    font-size: 15px;
    color: rgb(31, 31, 134);
}

.btn {
    background-color: white;
    color: black;
    border: none;
}

a {
    color: black;
    font-size: 25px;
}

a:hover {
    text-decoration: none;
    color:rgb(33, 33, 168)
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn:focus {
    box-shadow: none;
}

#InputSearchTerm:focus, #FormControlSelect:focus {
    box-shadow: none;
    border: 1px solid grey;
}

.footer {
    margin-top: 20px;
    border-top: 1px solid lightgrey;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    height: 5vh;
    font-size: 10pt;
}